# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
.terraform.lock.hcl

# Kubernetes / local
kubeconfig
*.kubeconfig

# Python
__pycache__/
*.pyc
.venv/
venv/

# OS / editor
.DS_Store
.idea/
.vscode/

# Build artifacts
dist/
build/
*.log
